.navbar {
    z-index: 100;
    width: 100%;
    position: relative;
}

.nav-item {
    margin-right: 0.5%;
    width: auto;
}

.nav-item>a {
    width: auto;
}

.active {
    color: white;
    font: bolder;
}