<div class="container mt-5">
    <!--button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Usuario
  </button*-->

    <input type="button" value="Agregar Usuario" class="btn btn-primary crud" value="Agregar Producto ">

    <div class="card border-primary mb-5 container mt-5">

        <div class="card-header row text-primary">
            <h2>Listado de Productos</h2>
        </div>

        <div class="card-body text-secondary table-responsive align-middle">



            <table class="table table-responsive-md  text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Handle</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos; let i = index">
                        <th class="align-middle">{{ producto.id_producto }}</th>
                        <th class="align-middle"><img class="img-fluid me-auto ms-auto" src="../../../../assets/img/antipulgas.png" width="50px" height="50px"></th>
                        <th class="align-middle">{{ producto.nombre }}</th>
                        <th class="align-middle">{{ producto.precio }}</th>
                        <th class="align-middle">{{ producto.marca }}</th>

                        <td class="align-middle"><button type="button" class="btn btn-primary crud btn-outline">Detalle</button></td>
                        <td class="align-middle"><button type="button" class="btn btn-warning crud">Editar</button></td>
                        <td class="align-middle"><button type="button" class="btn btn-danger btn-sm px-3">
                            X
                          </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>