<div class="container mt-5">
    <!--button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Usuario
  </button*-->

    <input type="button" value="Agregar Usuario" class="btn btn-primary crud" value="Agregar Usuario" (click)="openModalCrud(mymodal,0,'agregar')">

    <div class="card border-primary mb-5 container mt-5">

        <div class="card-header row text-primary">
            <h2>Listado de usuarios</h2>
        </div>

        <div class="card-body text-secondary table-responsive">



            <table class="table table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios; let i = index">
                        <th>{{ usuario.id_usuario }}</th>
                        <td>{{ usuario.nombres }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.fecha_nac }}</td>
                        <td>{{ usuario.fecha_reg }}</td>
                        <td><input type="button" class="btn btn-primary crud" value="Detalle" (click)="openModalCrud(mymodal,usuario.id_usuario,'detalle')"></td>
                        <td><input type="button" class="btn btn-warning crud" value="Editar" (click)="openModalCrud(mymodal,usuario.id_usuario,'editar')"></td>
                        <td><input type="button" class="btn btn-danger crud" value="Eliminar"></td>
                    </tr>
                    <tr *ngFor="let usuario of usuarios; let i = index">
                        <th>{{ usuario.id_usuario }}</th>
                        <td>{{ usuario.nombres }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.fecha_nac }}</td>
                        <td>{{ usuario.fecha_reg }}</td>
                        <td><input type="button" class="btn btn-primary crud" value="Detalle" (click)="openModalCrud(mymodal,usuario.id_usuario,'detalle')"></td>
                        <td><input type="button" class="btn btn-warning crud" value="Editar" (click)="openModalCrud(mymodal,usuario.id_usuario,'editar')"></td>
                        <td><input type="button" class="btn btn-danger crud" value="Eliminar"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<ng-template #mymodal let-modal>

    <div role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-basic-title" class="d-block  modal fade show">

        <div role="document" class="modal-dialog  modal-xl modal-dialog-centered">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ titulo }}</h5>

                </div>
                <div class="modal-body">

                    <form id="form-usuario" #formUsuario="ngForm" [formGroup]="myform" (ngSubmit)="verificarDatos()" class="row container me-auto ms-auto justify-content-center">

                        <!--input class="form-usuario" name="nombre" [(ngModel)]="usuario.id" placeholder="" hidden/-->




                        <fieldset class="col-6 p-5" formGroupName="name">


                            <div class="form-group col-12" [ngClass]="{
                                    'has-danger': IdUsuario.invalid && (IdUsuario.dirty || IdUsuario.touched),
                                    'has-success': IdUsuario.valid && (IdUsuario.dirty || IdUsuario.touched)
                                  }">

                                <input type="text" class="form-control form-input form-usuario" [(ngModel)]="usuario.id_usuario" formControlName="IdUsuario" required hidden>
                                <div class="form-control-feedback" *ngIf="IdUsuario.errors && (IdUsuario.dirty || IdUsuario.touched)">
                                    <p class="alert alert-danger" role="alert" *ngIf="IdUsuario.errors.required">Last Name is required</p>
                                </div>

                                <!--
                                    <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
                                    <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
                                  -->
                            </div>

                            <h3 class="col-12 d-flex justify-content-start m-4">EDITAR INFORMACION</h3>

                            <div class="form-group col-12" [ngClass]="{
          'has-danger': Nombres.invalid && (Nombres.dirty || Nombres.touched),
          'has-success': Nombres.valid && (Nombres.dirty || Nombres.touched)
        }">
                                <label>First Name</label>
                                <input type="text" class=" form-input" id="nomForm" [(ngModel)]="usuario.nombres" formControlName="Nombres" required>
                                <div class="form-control-feedback" *ngIf="Nombres.errors && (Nombres.dirty || Nombres.touched)">
                                    <p class="alert alert-danger" role="alert" *ngIf="Nombres.errors.required">Last Name is required</p>
                                </div>

                                <!--
          <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
          <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
        -->
                            </div>


                            <div class="form-group col-12" [ngClass]="{
          'has-danger': Apellidos.invalid && (Apellidos.dirty || Apellidos.touched),
          'has-success': Apellidos.valid && (Apellidos.dirty || Apellidos.touched)
        }">
                                <label>Last Name</label>
                                <input type="text" class=" form-input" [(ngModel)]="usuario.apellidos" formControlName="Apellidos" required>
                                <div class="form-control-feedback " *ngIf="Apellidos.errors && (Apellidos.dirty || Apellidos.touched)">
                                    <p class="alert alert-danger" *ngIf="Apellidos.errors.required">Last Name is required</p>
                                </div>
                            </div>



                            <div class="form-group col-12" [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)
     }">
                                <label>Email</label>
                                <input type="email" class=" form-input" [(ngModel)]="usuario.email" formControlName="email" required>
                                <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                                    <p class="alert alert-danger" *ngIf="email.errors.required">Email is required</p>
                                    <p class="alert alert-danger" *ngIf="email.errors.minlength">The email address must contain at least the @ character</p>
                                </div>

                                <!--
        <pre>Valid? {{ myform.controls.name.controls.email.valid }}</pre>
        <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
      -->

                            </div>

                            <div class="form-group col-12" [ngClass]="{
          'has-danger': FechaNac.invalid && (FechaNac.dirty || FechaNac.touched),
          'has-success': FechaNac.valid && (FechaNac.dirty || FechaNac.touched)
     }">
                                <label>Fecha de Nacimiento</label>
                                <input type="date" class=" form-input" [(ngModel)]="usuario.fecha_nac" formControlName="FechaNac" required>
                                <div class="form-control-feedback" *ngIf="FechaNac.errors && (FechaNac.dirty || FechaNac.touched)">
                                    <p class="alert alert-danger" *ngIf="FechaNac.errors.required">Fecha is required</p>
                                    <p class="alert alert-danger" *ngIf="FechaNac.errors.minlength">Fecha must be 8 characters long, we need another {{FechaNac.errors.minlength.requiredLength - FechaNac.errors.minlength.actualLength}} characters </p>
                                </div>
                            </div>

                        </fieldset>



                        <div class="col-12 btn-submit">

                            <button type="button" class="close cancel btn m-4" aria-label="Close" (click)="modal.dismiss()">Cancelar</button>

                            <!--button type="" class="cancel btn m-4" data-bs-dismiss="modal">Cancelar</button-->

                            <button type="submit" id="Guerra" class="acept btn m-4" *ngIf="(usuario.id_usuario == 0) else elseBlock">Registrar</button>

                            <ng-template #elseBlock>
                                <button type="" role="button" class="acept btn m-4">Actualizar</button>
                            </ng-template>
                        </div>

                        <!--pre>{{myform.value | json}}</pre-->
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>