.card {
    display: flex;
}

form {
    width: 100%;
}

form>div>div {
    padding-bottom: 10%;
    padding-right: 0%;
}

.form-group {
    margin-bottom: 10%;
}

.form-input {
    outline: none;
    color: #024059;
    border: none;
    border-bottom: 2px solid #024059;
    box-shadow: 2px 2px 5px #024059;
    ;
    width: 85%;
    display: flex;
}

.form-control-feedback {
    width: 85%;
}


/*-------- VALIDACION DE FORMULARIO -------------------*/

.has-danger {
    border-bottom: 2px solid red;
    box-shadow: 2px 2px 5px red;
    width: 85%;
}

.has-success {
    border-bottom: 2px solid #5cb85c;
    box-shadow: 2px 2px 5px #5cb85c;
    width: 85%;
}


/*------------------------------------------------------*/

.btn-submit {
    display: flex;
    justify-content: flex-end;
}

.btn-submit>button {
    border-radius: 25px 25px 25px 25px;
    border: #9FA2B4 1px solid;
    width: 100%;
    color: #9FA2B4;
}

.btn-submit>button:hover {
    cursor: pointer;
    background-color: #024059;
    color: #F7F8FC;
}


/***************** FILE FOTO ************************************/

.image-upload>input {
    display: none;
}

.image-upload>label>svg:hover {
    cursor: pointer;
}

.image-upload>label>svg>img {
    cursor: pointer;
}