<div class="container-fluid mt-5">
    <!--button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Usuario
  </button*-->

    <input type="button" class="btn btn-primary crud" value="Agregar Usuario" (click)="openModalCrud(mymodal,'agregar')">

    <div class="card border-primary mb-5 container-fluid mt-5">

        <div class="card-header row text-primary">
            <h2>Listado de usuarios</h2>
        </div>

        <div class="card-body text-secondary table-responsive">



            <table class="table table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Distrito</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios; let i = index">
                        <th>{{ usuario.idusuario }}</th>
                        <td>{{ usuario.nombres }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.dni }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.fechaNac }}</td>
                        <td>{{ usuario.direccion }}</td>
                        <td>{{ usuario.ubigeo.departamento }}</td>
                        <td>{{ usuario.ubigeo.provincia }}</td>
                        <td>{{ usuario.ubigeo.distrito }}</td>
                        <td><button type="button" class="btn btn-primary crud" value="Detalle" (click)="openModalCrud(mymodal,'detalle',usuario.idusuario)">Detalle</button></td>
                        <td><button type="button" class="btn btn-warning crud" value="Editar" (click)="openModalCrud(mymodal,'editar',usuario.idusuario)">Editar</button></td>
                        <td><button type="button" class="btn btn-danger crud" value="Eliminar" (click)="delete(usuario)">Eliminar</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>





<ng-template #mymodal let-modal>

    <div role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-basic-title" class="d-block  modal fade show">

        <div role="document" class="modal-dialog  modal-xl modal-dialog-centered">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ titulo | uppercase}}</h5>

                </div>
                <div class="modal-body">

                    <form id="form-usuario" [formGroup]="myform" (ngSubmit)="verificarDatos()" class="row container me-auto ms-auto justify-content-center">






                        <fieldset class="col-6 p-5" formGroupName="name">


                            <div class="form-group col-12">

                                <input type="text" class="form-input" [(ngModel)]="usuario.idusuario" formControlName="IdUsuario" required hidden>
                                <div class="form-control-feedback" *ngIf="IdUsuario.errors && (IdUsuario.dirty || IdUsuario.touched)">
                                    <p class="alert alert-danger" role="alert" *ngIf="IdUsuario.errors.required">Last Name is required</p>
                                </div>

                            </div>

                            <h3 class="col-12 d-flex justify-content-start m-4">EDITAR INFORMACION</h3>

                            <div class="form-group col-12">
                                <label>Nombres</label>
                                <input type="text" [ngClass]="{
                                    'has-danger': Nombres.invalid && (Nombres.dirty || Nombres.touched),
                                    'has-success': Nombres.valid && (Nombres.dirty || Nombres.touched)
                                  }" class="form-input" id="nomForm" [(ngModel)]="usuario.nombres" formControlName="Nombres" required>

                                <div class="form-control-feedback">
                                    <p class="alert alert-danger" *ngIf=" (Nombres.errors?.required && submitted) || ((Nombres.dirty || Nombres.touched) && Nombres.invalid )">Nombres is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>


                            <div class="form-group col-12">
                                <label>Apellidos</label>
                                <input type="text" class=" form-input" [(ngModel)]="usuario.apellidos" formControlName="Apellidos" required>
                                <div class="form-control-feedback " *ngIf="(Apellidos.errors) && (Apellidos.dirty || Apellidos.touched)">
                                    <p class="alert alert-danger position-relative" *ngIf="Apellidos.errors.required">Last Name is required</p>
                                </div>
                            </div>



                            <div class="form-group col-12">
                                <label>Correo</label>
                                <input type="email" class=" form-input" [(ngModel)]="usuario.correo" formControlName="Correo" required>
                                <div class="form-control-feedback" *ngIf="Correo.errors && (Correo.dirty || Correo.touched)">
                                    <p class="alert alert-danger" *ngIf="Correo.errors.required">Email is required</p>
                                    <p class="alert alert-danger" *ngIf="Correo.errors.pattern">Patron invalido</p>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>DNI</label>
                                <input type="" class=" form-input" [(ngModel)]="usuario.dni" formControlName="Dni" required>
                                <div class="form-control-feedback" *ngIf="Dni.errors && (Dni.dirty || Dni.touched)">
                                    <p class="alert alert-danger" *ngIf="Dni.errors.required">DNI is required</p>
                                    <p class="alert alert-danger" *ngIf="Dni.errors.pattern">Patron invalido - debe contener 8 digitos</p>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Telefono</label>
                                <input type="" class=" form-input" [(ngModel)]="usuario.telefono" formControlName="Telef" required>
                                <div class="form-control-feedback" *ngIf="Telef.errors && (Telef.dirty || Telef.touched)">
                                    <p class="alert alert-danger" *ngIf="Telef.errors.required">Telefono is required</p>
                                    <p class="alert alert-danger" *ngIf="Telef.errors.pattern">Patron invalido </p>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Dirección</label>
                                <input type="" class=" form-input" [(ngModel)]="usuario.direccion" formControlName="Direc" required>
                                <div class="form-control-feedback" *ngIf="Direc.errors && (Direc.dirty || Direc.touched)">
                                    <p class="alert alert-danger" *ngIf="Direc.errors.required">Dirección is required</p>
                                    <p class="alert alert-danger" *ngIf="Direc.errors.pattern">Patron invalido </p>
                                </div>
                            </div>



                            <div class="form-group col-12">
                                <label>Fecha de Nacimiento</label>
                                <input type="date" class=" form-input" [(ngModel)]="usuario.fechaNac" formControlName="FechaNac" required>
                                <div class="form-control-feedback" *ngIf="FechaNac.errors && (FechaNac.dirty || FechaNac.touched)">
                                    <p class="alert alert-danger" *ngIf="FechaNac.errors.required">Fecha is required</p>

                                    <p class="alert alert-danger" *ngIf="FechaNac.errors.minlength">Fecha must be 8 characters long, we need another {{FechaNac.errors.minlength.requiredLength - FechaNac.errors.minlength.actualLength}} characters </p>
                                </div>
                            </div>





                            <!--  UBIGEO  -->

                            <div class="form-group col-12">
                                <label>Region</label>

                                <select class="form-input " [(ngModel)]="usuario.ubigeo" [compareWith]="compareUbigeo" formControlName="id_ubi" required>
                                    
                                    <option [ngValue]="undefined" selected>--- selecionar una región ---</option>
                                        <option *ngFor="let region of ubigeo" [ngValue]="region" > {{ region.departamento  }} - {{ region.provincia  }} - {{ region.distrito  }}</option>
                                   
                                    </select>
                                <div class="form-control-feedback" *ngIf="id_ubi.errors && (id_ubi.dirty || id_ubi.touched)">
                                    <p class="alert alert-danger" *ngIf="id_ubi.errors.required">Ubigeo is required</p>

                                </div>
                            </div>

                        </fieldset>



                        <div class="col-12 btn-submit">

                            <button type="button" id="Guerra" class="cancel btn  m-4" aria-label="Close" (click)="cerrarmodal()">Cancelar</button>



                            <button type="submit" id="Guerra" class="acept btn m-4" *ngIf="(usuario.idusuario == 0) else elseBlock">Registrar</button>

                            <ng-template #elseBlock>
                                <button type="" role="button" class="acept btn m-4" [disabled]="myform.invalid">Actualizar</button>
                            </ng-template>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>