<section class="mt-auto mb-auto">
    <h4 class="text-center registrateh4">
        ¡Registrate!
    </h4>
    <div class="row col-12">
        <div class="col-md-6 me-auto ms-auto ">

            <form action="registraCliente justify-content-center">
                <div class="m-2 mb-4">

                    <input class="form-control" type="text" name="nombre" id="idnombre" placeholder="Ingrese sus nombres">

                </div>

                <div class="m-2 mb-4">

                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>

                <div class="m-2 mb-4">

                    <input class="form-control" type="text" name="apellido" id="idapellido" placeholder="Ingrese sus Apellidos">

                </div>

                <div class="m-2 mb-4">

                    <input class="form-control" type="text" name="dni" id="iddni" placeholder="Ingrese su numero de DNI">

                </div>

                <div class="m-2 mb-4">

                    <select class="form-control selectpicker show-menu-arrow">
                        <option selected class="d-none"> Sexo</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                        <option>Otros</option>
                    </select>

                </div>

                <div class="m-2 mb-4">
                    <input class="form-control" type="text" name="direccion" id="iddireccion" placeholder="Ingrese su direccion">
                </div>

            </form>
        </div>
        <div class="w-100 text-center">
            <button type="button" class="btn btn-outline btnRegistra ">Registrar</button>
        </div>
    </div>
</section>